In [60]:
import numpy as np
import pandas as pd

In [61]:
num = range(1, 100, 7)
pd.Series(num)

0      1
1      8
2     15
3     22
4     29
5     36
6     43
7     50
8     57
9     64
10    71
11    78
12    85
13    92
14    99
dtype: int64

In [62]:
string = "Hi", "How", "Welcome", "Anything", "to", "Write"
pd.Series(string)

0          Hi
1         How
2     Welcome
3    Anything
4          to
5       Write
dtype: object

In [63]:
st = pd.Series([373, 'Saudi Arabia', 37.3, 'Riyadh', -73.3])
st

0             373
1    Saudi Arabia
2            37.3
3          Riyadh
4           -73.3
dtype: object

In [64]:
obSt = pd.Series([[st], [num], [string], 37.3, 'Riyadh', -73.3])
obSt

0           [[373, Saudi Arabia, 37.3, Riyadh, -73.3]]
1    [(1, 8, 15, 22, 29, 36, 43, 50, 57, 64, 71, 78...
2            [(Hi, How, Welcome, Anything, to, Write)]
3                                                 37.3
4                                               Riyadh
5                                                -73.3
dtype: object

In [65]:
marks = [60, 70, 80, 90, 100]

subject = ["Math", "Science", "Programming", "English", "Religion"]

pd.Series(marks, index=subject)

Math            60
Science         70
Programming     80
English         90
Religion       100
dtype: int64

In [66]:
data = {"Math": 60, "Science": 70, "Programming": 90, "English": 80, "Religion": 100}
pd.Series(data)

Math            60
Science         70
Programming     90
English         80
Religion       100
dtype: int64

In [67]:
subject = ["Math", "Science", "Python", "English", "Religion"]
dataSubject = pd.Series(data, index=subject)
dataSubject

Math         60.0
Science      70.0
Python        NaN
English      80.0
Religion    100.0
dtype: float64

In [68]:
dataSubject.isnull()

Math        False
Science     False
Python       True
English     False
Religion    False
dtype: bool

In [69]:
dataSubject.notnull()

Math         True
Science      True
Python      False
English      True
Religion     True
dtype: bool

In [70]:
dataSubject[dataSubject > 75]

English      80.0
Religion    100.0
dtype: float64

In [71]:
dataSubject["Python"] = 68
dataSubject

Math         60.0
Science      70.0
Python       68.0
English      80.0
Religion    100.0
dtype: float64

In [72]:
dataSubject.Science == 20

np.False_

In [73]:
values = pd.Series([23, 45, np.nan, 41, 23, 34, 55, np.nan, 34, 20])
values

0    23.0
1    45.0
2     NaN
3    41.0
4    23.0
5    34.0
6    55.0
7     NaN
8    34.0
9    20.0
dtype: float64

In [74]:
values.sort_values(ascending=False)

6    55.0
1    45.0
3    41.0
5    34.0
8    34.0
0    23.0
4    23.0
9    20.0
2     NaN
7     NaN
dtype: float64

In [75]:
string_values = pd.Series(["H", "A", "Z", "A", "T", "I"])
string_values

0    H
1    A
2    Z
3    A
4    T
5    I
dtype: object

In [76]:
string_values.sort_values(ascending=True)

1    A
3    A
0    H
5    I
4    T
2    Z
dtype: object

In [77]:
dataSubject.rank(ascending=True, pct=False)

Math        1.0
Science     3.0
Python      2.0
English     4.0
Religion    5.0
dtype: float64

In [78]:
data = { 'Subject': ['Maths', 'Science', 'Python', 'English', 'Religion', 'Java'],
         'Marks': (78, 89, 79, 65, 77, 99),
         'CGPA': [3.5, 4, 5, 2.5, 3.5, 5]}

df = pd.DataFrame(data)
df

    Subject  Marks  CGPA
0     Maths     78   3.5
1   Science     89   4.0
2    Python     79   5.0
3   English     65   2.5
4  Religion     77   3.5
5      Java     99   5.0

In [79]:
Subject = pd.Series(['Maths', 'Science', 'Python', 'English', 'Religion', 'Java'])
Marks = pd.Series([78, 89, 79, 65, 77, 99])
CGPA = pd.Series([3.5, 4, 5, 2.5, 3.5, 5])

In [80]:
GatherData = pd.DataFrame([Subject, Marks, CGPA], index=['Subject', 'Marks', 'CGPA'])
GatherData

             0        1       2        3         4     5
Subject  Maths  Science  Python  English  Religion  Java
Marks       78       89      79       65        77    99
CGPA       3.5      4.0     5.0      2.5       3.5   5.0

Use T to Vertical dataframe

In [81]:
GatherData = pd.DataFrame([Subject, Marks, CGPA], index=['Subject', 'Marks', 'CGPA']).T
GatherData

    Subject Marks CGPA
0     Maths    78  3.5
1   Science    89  4.0
2    Python    79  5.0
3   English    65  2.5
4  Religion    77  3.5
5      Java    99  5.0

In [ ]:
data = pd.read_csv("")